body.noscroll {
  overflow: hidden;
}

.rad {
  border-radius: 20px !important;
}

.strategies h3,
.strategies h4,
.strategies h5,
.strategies h6,
.quotes h3,
.quotes h4,
.quotes h5,
.quotes h6,
.donate h3,
.donate h4,
.donate h5,
.donate h6,
.tentang h3,
.tentang h4,
.tentang h5,
.tentang h6,
.visi h3,
.visi h4,
.visi h5,
.visi h6,
.misi h3,
.misi h4,
.misi h5,
.misi h6 {
  padding-top: 3%;
  padding-bottom: 3%;
}

.testimoni h3,
.testimoni h4 {
  padding-top: 2%;
  padding-bottom: 2%;
}

.slider h3,
.slider h5,
.services h3,
.testimoni h3,
.testimoni h5,
.testimoni h4,
.testimoni h6 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.parallax-container {
  height: 40%;
}

.parallax img {
  opacity: 0.5 !important;
}

.trans {
  opacity: 0.9 !important;
}

footer {
  padding: 20px 0;
}

.pad {
  padding-top: 3% !important;
  padding-bottom: 3% !important;
}

.grayscale {
  -webkit-filter: grayscale(80%) brightness(0.5);
          filter: grayscale(80%) brightness(0.5);
}

.brightness {
  -webkit-filter: brightness(0.35);
          filter: brightness(0.35);
}

.carousel {
  height: 300px !important;
}

.tentang {
  padding: 50px;
}

.parallax-container {
  padding: 50px;
}

.quotes {
  padding: 10px;
}

hr {
  height: 3px;
  width: 8%;
  border: none;
}

.hr-misi {
  height: 3px;
  width: 65%;
  border: none;
}

.btn:hover {
  opacity: 0.75 !important;
}

nav {
  background-color: white !important;
}

@media screen and (max-width: 600px) {
  .hr-misi {
    height: 3px;
    width: 10%;
    border: none;
  }
  nav {
    position: relative !important;
    background-color: white !important;
  }
}

.nav-wrapper.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-wrapper.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.nav-wrapper.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__toggle {
  padding: 25px 10px 25px 10px;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: black;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: 2px 1px;
          transform-origin: 2px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background-image: linear-gradient(black, transparent);
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

.has-fade {
  visibility: hidden;
}

.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  margin-top: 5.375rem;
  padding: 5.625rem 1.625rem;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  color: black;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */