<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="../css/materialize.css"
      media="screen,projection"
    />

    <link
      type="text/css"
      rel="stylesheet"
      href="../css/style.css"
      media="screen,projection"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lawang Langit</title>
  </head>
  <body>
    <!-- navbar -->
    <section>
      <div class="navbar-fixed">
        <nav class="white z-depth-0">
          <div class="container">
            <div class="nav-wrapper">
              <a href="/" class="brand-logo grey-text text-darken-3"
                >Lawanglangit</a
              >
              <a
                href="#"
                data-target="mobile-nav"
                class="grey-text text-darken-3 sidenav-trigger"
                ><i class="material-icons">menu</i></a
              >
              <ul class="right hide-on-med-and-down">
                <li>
                  <a class="blue-grey-text" href="/"><b>Home</b></a>
                </li>
                <li>
                  <a class="grey-text text-darken" href="/about">About Us</a>
                </li>
                <li>
                  <a class="grey-text text-darken" href="/program">Programs</a>
                </li>
                <a
                  class="blue-grey darken-4 waves-effect waves-light btn rad white-text"
                  href=""
                  >Donate Now !</a
                >
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </section>

    <!-- Sliders -->
    <section>
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="../img/home1.JPG" class="grayscale" />
            <!-- random image -->
            <div class="caption left-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">
                Here's our small slogan.
              </h5>
            </div>
          </li>
          <li>
            <img src="../img/home3.JPG" class="grayscale" />
            <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">
                Here's our small slogan.
              </h5>
            </div>
          </li>
          <li>
            <img src="../img/home4.JPG" class="grayscale" />
            <!-- random image -->
            <div class="caption right-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">
                Here's our small slogan.
              </h5>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- Strategies -->

    <section class="strategies" id="strategies">
      <div class="container center">
        <div class="row">
          <h3 class="light grey-text text-darken-3 center">Our Strategies</h3>
          <hr class="blue-grey rad" />
          <h6 id="light grey-text text-darken-3 center">
            Lawang Langit membukakan harapan untuk masa depan Ibu dan Anak
            dengan memberikan akses pendidikan yang layak bagi Anak dan
            kesempatan pemberdayaan bagi Ibu. Lawang Langit hadir sebagai
            pengubung rasa dan asa untuk membangun karakter Ibu dan Anak yang
            bermanfaat dan melangit.
          </h6>
          <div class="col m4 s12 pad">
            <i class="material-icons large blue-grey-text">account_balance</i>
            <h5>1. Fasilitasi</h5>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam,
              corporis.
            </p>
          </div>
          <div class="col m4 s12 pad">
            <i class="material-icons large blue-grey-text">school</i>
            <h5>2. Beasiswa</h5>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam,
              corporis.
            </p>
          </div>
          <div class="col m4 s12 pad">
            <i class="material-icons large blue-grey-text">assessment</i>
            <h5>3. Pemberdayaan</h5>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam,
              corporis.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Quotes -->

    <section class="quotes blue-grey darken-4" id="quotes">
      <div class="container center">
        <h5 class="light white-text flow">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem,
          adipisci? Odit repudiandae explicabo possimus unde!
        </h5>
      </div>
    </section>

    <!-- Donate Now ! -->

    <section class="donate" id="donate">
      <div class="container center">
        <h3 class="light grey-text text-darken-3 center">Donate Now</h3>
        <hr class="blue-grey rad" />
        <div class="row" style="padding-top: 2%; padding-bottom: 2%">
          <div class="col m4 s12">
            <div class="card-panel z-depth-3">
              <i class="material-icons medium">attach_money</i>
              <h5>Lorem</h5>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam,
                corporis.
              </p>
              <a
                class="blue-grey darken-4 waves-effect waves-light btn rad white-text"
                href=""
                >Donate Now !</a
              >
            </div>
          </div>
          <div class="col m4 s12">
            <div class="card-panel z-depth-3">
              <i class="material-icons medium">attach_money</i>
              <h5>Ipsum</h5>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam,
                corporis.
              </p>
              <a
                class="blue-grey darken-4 waves-effect waves-light btn rad white-text"
                href=""
                >Donate Now !</a
              >
            </div>
          </div>
          <div class="col m4 s12">
            <div class="card-panel z-depth-3">
              <i class="material-icons medium">attach_money</i>
              <h5>Dolor</h5>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam,
                corporis.
              </p>
              <a
                class="blue-grey darken-4 waves-effect waves-light btn rad white-text"
                href=""
                >Donate Now !</a
              >
            </div>
          </div>
        </div>
        <h6><a href="" style="text-decoration: underline">More</a></h6>
      </div>
    </section>

    <!-- Quotes -->

    <section class="quotes blue-grey darken-4" id="quotes">
      <div class="container center">
        <h5 class="light white-text flow">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem,
          adipisci? Odit repudiandae explicabo possimus unde!
        </h5>
      </div>
    </section>

    <!-- Testimonials -->

    <section class="testimoni" id="testimoni">
      <div class="parallax-container pad">
        <div class="parallax blue-grey">
          <img src="../img/home3.JPG" class="brightness" />
        </div>
        <div class="container">
          <h3 class="center light white-text">Testimonials</h3>
          <hr class="white rad" />
          <div class="carousel carousel-slider">
            <div class="carousel-item" for="testi1">
              <div class="container pad">
                <h6 class="light white-text flow-text">
                  <blockquote>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Totam dolorem aliquid ipsum, veritatis obcaecati tempora eum
                    ipsam voluptatum aspernatur sed quas exercitationem
                    consectetur, ut quia.
                  </blockquote>
                </h6>
                <h5 class="light white-text flow-text">
                  <blockquote>~ Nama</blockquote>
                </h5>
              </div>
            </div>
            <div class="carousel-item" for="testi2">
              <div class="container pad">
                <h6 class="light white-text flow-text">
                  <blockquote>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Totam dolorem aliquid ipsum, veritatis obcaecati tempora eum
                    ipsam voluptatum aspernatur sed quas exercitationem
                    consectetur, ut quia.
                  </blockquote>
                </h6>
                <h5 class="light white-text flow-text">
                  <blockquote>~ Nama</blockquote>
                </h5>
              </div>
            </div>
            <div class="carousel-item" for="testi3">
              <div class="container pad">
                <h6 class="light white-text flow-text">
                  <blockquote>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Totam dolorem aliquid ipsum, veritatis obcaecati tempora eum
                    ipsam voluptatum aspernatur sed quas exercitationem
                    consectetur, ut quia.
                  </blockquote>
                </h6>
                <h5 class="light white-text flow-text">
                  <blockquote>~ Nama</blockquote>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Tentang Kami-->

    <section class="tentang blue-grey">
      <div class="container center">
        <h3 class="white-text light">Tentang Kami</h3>
        <hr class="white rad" />
        <h5 class="light white-text flow-text">
          Lawang Langit hadir sebagai pengubung rasa dan asa untuk membangun
          karakter Ibu dan Anak yang bermanfaat dan melangit.
        </h5>
      </div>
    </section>

    <!-- footer -->
    <footer class="blue-grey darken-4 white-text center">
      <p class="flow-text light">Pandega Haqqi Sadieda, Copyright 2021.</p>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
  </body>
</html>
